[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
llama-index-llms-gemini = "*"
llama-index-readers-file = "*"
pydantic-settings = "*"
"llama-index.embeddings.gemini" = "*"
llama-index-llms-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.13"
